<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <%- include("../partials/header", {type: type}); %>

    <div class="container">
        <div class="mw900 text-type">
            <h2><%= type %></h2>
            <div class="content-text-types">
                <% news.forEach(newsSingle => { %>
                    <div class="news-principal w50" onclick="redirect('<%= newsSingle.text_type %>/<%= newsSingle.id %>')">
                        <h4><%= newsSingle.newsType %></h4>
                        <h2><%= newsSingle.title %></h2>
                        <p><%= newsSingle.texts[0] %></p>
                        <div class="img-news" style="background-image: url('<%= newsSingle.img_principal %>');"></div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include("../partials/footer"); %>

    <script>
        const redirect = (url) => {
            window.location.href = url;
        }
    </script>
</body>
</html>